doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='locale', content='en_US')
		meta(name='type', content='article')
		meta(name='title', content='404')
		meta(name='google-site-verification', content='fkvTqP3BOPXJMskmdVgwHpkc5qOQSLT_uaI9u19nfTY')
		meta(name='keywords', content='knowledge-base, knowlegebase, knowledge base, help site, template')
		meta(name='description', content='This knowledge base is an excellent solution for providing support to your customers. Knowledge Base allows you to add your own support forums. Moreover, this is built with Bootstrap frontend framework and fits impeccably on big screens as well as on small screen of different mobile devices. It has a fantastic AJAX based live search that helps you attend to your consumer’s inquiries. Indeed, this is designed to create an advanced knowledge base website for your target. This is also the most popular knowledge base style theme and is used by hundreds of websites.')
		meta(name='author', content='SVS IT Solutions Pvt. Ltd.')
		title Knowledge Base - 404
	body
		.container
			#four04 I'm sorry, the page or resource you are searching for is currently unavailable.
			
		footer 
			| Copyright © 2016 
			a(href='http://knowledge-base.site') knowledge-base
