doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		title Supportz: All Users
		link(href='/vendor/bootstrap.min.css', rel='stylesheet')
		link(href='/css/navbar.css', rel='stylesheet')
	body
		.container
			#four04 I'm sorry, the page or resource you are searching for is currently unavailable.
			
			footer
				p
					&copy; 2015 Company, Inc.
