
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

.row
	.col-md-8
		.widget.stacked
			.widget-header
				i.icon-user
				h3 Your Account
			.widget-content
				.tabbable
					ul.nav.nav-tabs
						li.active
							a(href='#account-form-container', data-toggle='tab') Profile
					br
					.tab-content
						#account-form-container.tab-pane.active
							form(method="post")#account-form.form-horizontal.col-md-10
								fieldset
									.form-group
										label.col-md-4(for='user') Sub Domain
										.col-md-8
											.input-group
												span.input-group-addon
													| http://
												input#user-tf.form-control(type='text', name='user', value=user.user, disabled='', style='background-color:#fff')
												span.input-group-addon
													| .knowledge-base.site
											p.help-block Your subdomain is for knowledge base site and cannot be changed.
									.form-group
										label.col-md-4(for='name') Name
										.col-md-8
											input#name-tf.form-control(type='text', name='name', value=user.name)
									.form-group
										label.col-md-4(for='title') Title
										.col-md-8
											input#title-tf.form-control(type='text', name='title', value=user.title)
									hr
									br
									.form-group
										label.col-md-4(for='email') Email
										.col-md-8
											input#email-tf.form-control(type='text', name='email', value=user.email, disabled='')
									.form-group
										label.col-md-4(for='password') Password
										.col-md-8
											input#pass-tf.form-control(type='password', name='pass', value='')
									br
									.form-group
										.col-md-offset-4.col-md-8
											button.btn.btn-primary(type='submit') Save
	.col-md-4
		.well
			h4 Extra Info
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
include modals/form-errors
