
// preset form values if we receive a articledata object //
- article = typeof(cdata) != 'undefined' ? cdata : { }
// store the articleId on the client side in a hidden input field //
input(type='hidden', value= article._id)#articleId

.row#article-form-container
	.col-md-12
		.widget.stacked
			.widget-header
				i.icon-copy
				h3 
			.widget-content
				form(method="post")#article-form
					.form-group
						label Title
						input.form-control#title-tf(type='text', name='titletitle', value= article.title)
					.form-group
						label Category
						select.form-control#category-list(name='category')
							each item in cats
								option(value=item._id, selected=item._id == article.category)= item.name
					.form-group
						label Tags
						input.form-control#tags-tf(type='text', name='tags', value= article.tags)
						p.help-block Multiple tags seprated by comma without space
					.form-group
						label Article
						textarea(name='article') #{article.article}
					.form-group
						button(type='button')#article-form-btn1.btn.btn-default
							| Cancel
						button(type='submit')#article-form-btn2.btn.btn-primary
							| Submit

include modals/form-errors
