
extends layout

block content
	.row#article-grid
		.col-md-12
			.widget.stacked
				.widget-header
					i.icon-list
					h3 Manage Articles
				.widget-content
					section#tables
						.page-header
							h3
								|Article List
								.pull-right
									a(href='/add-article')#article-grid-btn1.btn.btn-success
										| Add
						.table-responsive
							table.table.table-bordered.table-hover.table-striped
								thead
									tr
										th(width='60%') Title
										th Created
										th
										th
								tbody
									- for art in arts
										tr
											td= art.title
											td= moment(art.date).format('LLL')
											td
												a(href='/edit-article/#{art._id}').btn.btn-default
													| Edit
											td
												button(type='button', onclick='deleteArticle(\'#{art._id}\')').btn.btn-danger
													| Delete
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/article.js')
	script(src='/js/controllers/articleController.js')
