
// preset form values if we receive a categorydata object //
- category = typeof(cdata) != 'undefined' ? cdata : { }
// store the categoryId on the client side in a hidden input field //
input(type='hidden', value= category._id)#categoryId

.row#category-form-container
	.col-md-12
		.widget.stacked
			.widget-header
				i.icon-th
				h3 Add New Category
			.widget-content
				form(method="post")#category-form.col-md-5
					.form-group
						label Name
						input.form-control#name-tf(type='text', name='name', value= category.name)
					.form-group
						button(type='button')#article-form-btn1.btn.btn-default
							| Cancel
						button(type='submit')#article-form-btn2.btn.btn-primary
							| Submit

include modals/form-errors
