
extends layout

block content

	.row#category-grid
		.col-md-12
			.widget.stacked
				.widget-header
					i.icon-list
					h3 Manage Categories
				.widget-content
					section#tables
						.page-header
							h3
								|Category List
								.pull-right
									a(href='/add-category')#category-grid-btn1.btn.btn-success
										| Add
						.table-responsive
							table.table.table-bordered.table-hover.table-striped
								thead
									tr
										th(width='60%') Name
										th Created
										th
								tbody
									- for cat in cats
										tr
											td= cat.name
											td= moment(cat.date).format('LLL')
											td
												button(type='button', onclick='deleteCategory(\'#{cat._id}\')').btn.btn-danger
													| Delete
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/category.js')
	script(src='/js/controllers/categoryController.js')
