
extends layout

block content

	include article
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/edit_article.js')
	script(src='/js/controllers/articleController.js')
	script(src='/js/form-validators/articleValidator.js')