doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Knowledgebase
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://localhost:3000/css/style.css', rel='stylesheet')
	body
		// SEARCH FIELD AREA
		.searchfield.bg-hed-six
			.container(style='padding-top: 20px; padding-bottom: 20px;')
				.row.text-center.margin-bottom-20
					h1.white  Knowledge Base
				br
				.row.search-row
					input.search(type='text', placeholder='What do you need help with?')
					button.buttonsearch.btn.btn-info.btn-lg Search
		// END SEARCH FIELD AREA
		// MAIN SECTION
		.container.featured-area-default.padding-30
			.row
				.col-md-8.padding-20
					.row
						// BREADCRUMBS
						.breadcrumb-container
							ol.breadcrumb
								li
									a(href='index.html')
										i.fa.fa-home
						// END BREADCRUMBS
						// ARTICLES CATEGORIES SECTION
						.fb-heading
							| Knowledge Base
						hr.style-three
						.row
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  General 
										span.cat-count (10)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Account Settings 
										span.cat-count (6)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Security & Billing 
										span.cat-count (5)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Using gomac 
										span.cat-count (45)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Email Campaign 
										span.cat-count (12)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  gomac Configurations 
										span.cat-count (60)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Products 
										span.cat-count (60)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Customers 
										span.cat-count (60)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Orders 
										span.cat-count (60)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
							.col-md-6.margin-bottom-20
								.fat-heading-abb
									a(href='single-category.html')
										i.fa.fa-folder
										|  Suppliers 
										span.cat-count (60)
								.fat-content-small.padding-left-30
									ul
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to change account password?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  How to edit order details?
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Add new user
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Change customer details
										li
											a(href='single-article.html')
												i.fa.fa-file-text-o
												|  Lookup existing customer in order form
						// END ARTICLES CATEOGIRES SECTION
				// SIDEBAR STUFF
				.col-md-4.padding-20
					.row.margin-bottom-30
						.col-md-12
							.support-container
								h2.support-heading Need more Support?
								|               If you cannot find an answer in the knowledgebase, you can 
								a(href='#') contact us
								|  for further help.
					.row.margin-top-20
						.col-md-12
							.fb-heading-small
								| Popular Articles
							hr.style-three
							.fat-content-small.padding-left-10
								ul
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to change account password?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to edit order details?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  Add new user
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  Change customer details
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  Lookup existing customer in order form
					.row.margin-top-20
						.col-md-12
							.fb-heading-small
								| Latest Articles
							hr.style-three
							.fat-content-small.padding-left-10
								ul
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to change username?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to change currency in gomac?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to edit order details?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to print stock barcode?
									li
										a(href='#')
											i.fa.fa-file-text-o
											|  How to generate barcode?
					// POPULAR TAGS (SHOW MAX 20 TAGS)
					.row.margin-top-20
						.col-md-12
							.fb-heading-small
								| Popular Tags
							hr.style-three
							.fat-content-tags.padding-left-10
								a.btn.btn-default.btn-o.btn-sm(href='#') gomac
								a.btn.btn-default.btn-o.btn-sm(href='#') password
								a.btn.btn-default.btn-o.btn-sm(href='#') settings
								a.btn.btn-default.btn-o.btn-sm(href='#') sign up
								a.btn.btn-default.btn-o.btn-sm(href='#') currency
								a.btn.btn-default.btn-o.btn-sm(href='#') payment
								a.btn.btn-default.btn-o.btn-sm(href='#') user
								a.btn.btn-default.btn-o.btn-sm(href='#') database
								a.btn.btn-default.btn-o.btn-sm(href='#') storage
								a.btn.btn-default.btn-o.btn-sm(href='#') export
								a.btn.btn-default.btn-o.btn-sm(href='#') email
								a.btn.btn-default.btn-o.btn-sm(href='#') import
								a.btn.btn-default.btn-o.btn-sm(href='#') campaign
								a.btn.btn-default.btn-o.btn-sm(href='#') edit
								a.btn.btn-default.btn-o.btn-sm(href='#') orders
								a.btn.btn-default.btn-o.btn-sm(href='#') help
								a.btn.btn-default.btn-o.btn-sm(href='#') billing
								a.btn.btn-default.btn-o.btn-sm(href='#') user
								a.btn.btn-default.btn-o.btn-sm(href='#') configure
								a.btn.btn-default.btn-o.btn-sm(href='#') customer
					// END POPULAR TAGS (SHOW MAX 20 TAGS)
				// END SIDEBAR STUFF
		// END MAIN SECTION
		// COPYRIGHT INFO
		.container-fluid.footer-copyright.marg30
			.container
				.pull-left
					| Copyright © 2016 
					a(href='http://go-mac.com') gomac
					|  by 
					a(href='http://svsitsolutions.co.uk') SVS IT Solutions Limited.
				.pull-right
					i.fa.fa-facebook
					i.fa.fa-twitter
					i.fa.fa-linkedin
		// END COPYRIGHT INFO
		// LOADING ENDING JAVASCRIPTS
		script(src='http://code.jquery.com/jquery-2.2.4.min.js')
		script(src='https://use.fontawesome.com/f5561e785a.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
