doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='author', content='SVS IT Solutions Pvt. Ltd.')
		title Knowledgebase
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
		link(href='http://localhost:3000/css/style.css', rel='stylesheet')
		link(href='http://localhost:3000/css/fonts.css', rel='stylesheet')
	body
		.container-fluid.margin-bottom-40
			.container.bg-white
				.col-md-12
					.row
						h1  Knowledge base 
					.row.searcharea
						input#articleSearch.search-area(type='text', placeholder='What are you looking for?')
						button#searchButton.search-button(type='submit') Search

				block content

			.container.footer
				| Copyright © Knowledge Base 2016.
				span.pull-right
					a(href='/contactus') Contact us
		script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

		block scripts