
extends index_layout

block content

	.row
		.col-md-12.margin-top-40.padding-30.text-center
			h2 404 Page Not Found
			h4 Sorry, the page you were looking for does not exist

block scripts

	script(src='http://knowledge-base.site/js/views/index404.js')
