
extends index_layout

block content
	.row
		.col-md-12.margin-top-40
			.row
				- for cat in cdata
					.col-md-4
						ul(id=cat._id._id).homepage-list
							li.category-title
								a(href='category/#{cat._id._id}')
									i.fa.fa-folder
									|  #{cat._id.name} 
								span.art-count (#{cat.total})

block scripts

	script(src='http://knowledge-base.site/js/views/index.js')
