doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='locale', content='en_US')
		meta(name='type', content='article')
		meta(name='title', content='Create Your Easy Knowledge Base!')
		meta(name='description', content='This knowledge base is an excellent solution for providing support to your customers. Knowledge Base allows you to add your own support forums. Moreover, this is built with Bootstrap frontend framework and fits impeccably on big screens as well as on small screen of different mobile devices. It has a fantastic AJAX based live search that helps you attend to your consumer’s inquiries. Indeed, this is designed to create an advanced knowledge base website for your target. This is also the most popular knowledge base style theme and is used by hundreds of websites.')
		meta(name='author', content='SVS IT Solutions Pvt. Ltd.')
		title Knowledge Base - Create Your Easy Knowledge Base!
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
		link(href='/css/font-awesome.min.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
		link(href='/css/ui-lightness/jquery-ui-1.10.0.custom.min.css', rel='stylesheet')
		link(href='/css/base-admin-3.css', rel='stylesheet')
		link(href='/css/base-admin-3-responsive.css', rel='stylesheet')

		link(href='/css/pages/landing.css', rel='stylesheet')

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-78642754-1', 'auto');
			ga('send', 'pageview');
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Knowledge Base
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/signup')
								| Create an Account
						li
							a(href='/login')
								| Already have an account?
		.container
			header.jumbotron.hero-spacer
				h1 A Create Your Easy Knowledge Base!
				p
					| This knowledge base is an excellent solution for providing support to your customers. Knowledge Base allows you to add your own support forums. Moreover, this is built with Bootstrap frontend framework and fits impeccably on big screens as well as on small screen of different mobile devices. It has a fantastic AJAX based live search that helps you attend to your consumer’s inquiries. Indeed, this is designed to create an advanced knowledge base website for your target. This is also the most popular knowledge base style theme and is used by hundreds of websites.
				p
					a.btn.btn-primary.btn-large Free Signup!
			hr
			// Title
			.row
				.col-lg-12
					h3 Latest Features
			// /.row
			// Page Features
			.row.text-center
				.col-md-3.col-sm-6.hero-feature
					.thumbnail
						img(src='img/features/1.png', alt='knowledge base')
						.caption
							h3 Support Site
							p A support site with your all FAQs and knowledge base.
				.col-md-3.col-sm-6.hero-feature
					.thumbnail
						img(src='img/features/2.png', alt='Article')
						.caption
							h3 Manage Articles
							p An easy interface to create knowledge base articles.
				.col-md-3.col-sm-6.hero-feature
					.thumbnail
						img(src='http://placehold.it/800x500', alt='')
						.caption
							h3 Feature Label
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p
								a.btn.btn-primary(href='#') Buy Now!
								a.btn.btn-default(href='#') More Info
				.col-md-3.col-sm-6.hero-feature
					.thumbnail
						img(src='http://placehold.it/800x500', alt='')
						.caption
							h3 Feature Label
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p
								a.btn.btn-primary(href='#') Buy Now!
								a.btn.btn-default(href='#') More Info
			// /.row
		// /.container
		// jQuery
		script(src='/js/libs/jquery-1.9.1.min.js')
		script(src='/js/libs/jquery-ui-1.10.0.custom.min.js')
		script(src='/js/libs/bootstrap.min.js')
