doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='Ankit Mekwan')
		title knowledge-base: Login
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/signin.css')

	.container
		#login
			form.form-signin(id='form-login', method='post')
				h2.form-signin-heading Please sign in
				label.sr-only(for='inputEmail') Email
				input#user-tf.form-control(type='text', name='user', placeholder='Email', required='', autofocus='')
				label.sr-only(for='inputPassword') Password
				input#pass-tf.form-control(type='password', name='pass', placeholder='Password', required='')
				.checkbox
					label
						input#remember-me(type='checkbox', name='remember-me', value='true')
						| Remember me
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
				a#forgot-password.forgot-password(href='#') Forgot passowrd 
				a#create-account.create-account(href='/signup') Create account 

				footer
					| Copyright © 2016 
					a(href='http://knowledge-base.site') knowledge-base

		include modals/alert
		include modals/lost-password

	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')