doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='locale', content='en_US')
		meta(name='type', content='article')
		meta(name='title', content='Account List')
		meta(name='google-site-verification', content='fkvTqP3BOPXJMskmdVgwHpkc5qOQSLT_uaI9u19nfTY')
		meta(name='keywords', content='knowledge-base, knowlegebase, knowledge base, help site, template')
		meta(name='description', content='This knowledge base is an excellent solution for providing support to your customers. Knowledge Base allows you to add your own support forums. Moreover, this is built with Bootstrap frontend framework and fits impeccably on big screens as well as on small screen of different mobile devices. It has a fantastic AJAX based live search that helps you attend to your consumer’s inquiries. Indeed, this is designed to create an advanced knowledge base website for your target. This is also the most popular knowledge base style theme and is used by hundreds of websites.')
		meta(name='author', content='SVS IT Solutions Pvt. Ltd.')
		title Knowledge Base - Account List
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css')
		link(href='/css/base-admin-3.css', rel='stylesheet')
		link(href='/css/base-admin-3-responsive.css', rel='stylesheet')
		link(href='/css/pages/landing.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Knowledge Base
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/signup')
								| Create an Account
						li
							a(href='/login')
								| Already have an account?
		.container
			header.hero-spacer
				.widget.stacked
					.widget-header
						h3
							| User's List
					.widget-content
						table.table.table-bordered.table-striped
							thead
								tr
									th(width='25%') Name
									th(width='25%') Email
									th(width='25%') Sub Domain
									th(width='25%') Created
							tbody
							- for (var i = 0; i < accts.length; i++)
								tr
									td= accts[i].name
									td= accts[i].email
									td= accts[i].user
									td= moment(accts[i].date).format('LL')

		script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")