
extends layout

block content
	.row#article-grid
		.col-md-12
			.widget.stacked
				.widget-header
					i.icon-list
					h3 Search Articles
				.widget-content
					.page-header
						h3 Search results for '#{search}'
					- for art in cdata
						.col-md-8
							strong
								a(href='#')  #{art.title}
							article!= art.article
							hr
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/libs/readmore.min.js')
	script(src='/js/views/search_article.js')
	script(src='/js/controllers/searchController.js')
