doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		title Supportz: SignUp
		link(href='/vendor/bootstrap.min.css', rel='stylesheet')
		link(href='/css/navbar.css', rel='stylesheet')
	body
		.container

			include account
			include modals/alert

			footer
				p &copy; 2015 Company, Inc.

		script(src='/vendor/jquery.min.js')
		script(src='/vendor/jquery.form.min.js')
		script(src='/vendor/bootstrap.min.js')
		script(src='/js/views/signup.js')
		script(src='/js/controllers/signupController.js')
		script(src='/js/form-validators/accountValidator.js')