doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='Ankit Mekwan')
		title Knowledge Base - Signup
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
		link(href='/css/font-awesome.min.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
		link(href='/css/ui-lightness/jquery-ui-1.10.0.custom.min.css', rel='stylesheet')
		link(href='/css/base-admin-3.css', rel='stylesheet')
		link(href='/css/base-admin-3-responsive.css', rel='stylesheet')
		link(href='/css/pages/signin.css', rel='stylesheet', type='text/css')
		link(href='/css/custom.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Knowledge Base
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/login')
								| Already have an account?

	.account-container.register.stacked
		.content.clearfix#account-form-container
			form(method="post")#account-form
				h1 Create Your Account
				.login-social
					p Sign in using social network:
					.twitter
						a.btn_1(href='#') Login with Twitter
					.fb
						a.btn_2(href='#') Login with Facebook
				.login-fields
					p Create your free account:
					.field
						label(for='firstname') Name:
						input#name-tf.form-control(type='text', name='name', value='', placeholder='Name')
					.field
						label(for='firstname') Title:
						input#title-tf.form-control(type='text', name='title', value='', placeholder='Title')
					.field
						label(for='lastname') Sub Domain:
						.input-group
							span.input-group-addon
								| http://
							input#user-tf.form-control(type='text', name='user', value='', placeholder='Sub Domain', style='max-width:110px')
							span.input-group-addon
								| .knowledge-base.site
					.field
						label(for='email') Email Address:
						input#email-tf.form-control(type='text', name='email', value='', placeholder='Email')
					.field
						label(for='password') Password:
						input#pass-tf.form-control(type='password', name='pass', value='', placeholder='Password')
				.login-actions
					span.login-checkbox
						input#terms-tf.field.login-checkbox(name='terms', type='checkbox', value='true')
						label.choice(for='terms') I have read and agree with the Terms of Use.
					button.login-action.btn.btn-primary Register

			include modals/form-errors
			include modals/alert

	.login-extra
		| Already have an account? 
		a(href='/login') Login

	script(src='/js/libs/jquery-1.9.1.min.js')
	script(src='/js/libs/jquery.form.min.js')
	script(src='/js/libs/jquery-ui-1.10.0.custom.min.js')
	script(src='/js/libs/bootstrap.min.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')