doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='Ankit Mekwan')
		title Knowledge Base - Account List
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css')
		link(href='/css/base-admin-3.css', rel='stylesheet')
		link(href='/css/base-admin-3-responsive.css', rel='stylesheet')
		link(href='/css/pages/landing.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Knowledge Base
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/signup')
								| Create an Account
						li
							a(href='/login')
								| Already have an account?
		.container
			h2
				| Web Site Terms and Conditions of Use
			h3
				| 1. Terms
			p
				| By accessing this web site, you are agreeing to be bound by these
				| web site Terms and Conditions of Use, all applicable laws and regulations,
				| and agree that you are responsible for compliance with any applicable local
				| laws. If you do not agree with any of these terms, you are prohibited from
				| using or accessing this site. The materials contained in this web site are
				| protected by applicable copyright and trade mark law.
			h3
				| 2. Use License
			ol(type='a')
				li
					| Permission is granted to temporarily download one copy of the materials 
					| (information or software) on Knowledge-base.site&apos;s web site for personal, 
					| non-commercial transitory viewing only. This is the grant of a license, 
					| not a transfer of title, and under this license you may not:
					ol(type='i')
						li modify or copy the materials;
						| &#x9;&#x9;&#x9;
						li
							| use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
						| &#x9;&#x9;&#x9;
						li
							| attempt to decompile or reverse engineer any software contained on Knowledge-base.site&apos;s web site;
						| &#x9;&#x9;&#x9;
						li remove any copyright or other proprietary notations from the materials; or
						| &#x9;&#x9;&#x9;
						li
							| transfer the materials to another person or &quot;mirror&quot; the materials on any other server.
				| &#x9;
				li
					| This license shall automatically terminate if you violate any of these restrictions and may be terminated by Knowledge-base.site at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
			h3
				| 3. Disclaimer
			ol(type='a')
				li
					| The materials on Knowledge-base.site&apos;s web site are provided &quot;as is&quot;. Knowledge-base.site makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Knowledge-base.site does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
			h3
				| 4. Limitations
			p
				| In no event shall Knowledge-base.site or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Knowledge-base.site&apos;s Internet site, even if Knowledge-base.site or a Knowledge-base.site authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			| &#x9;&#x9;&#x9;
			h3
				| 5. Revisions and Errata
			p
				| The materials appearing on Knowledge-base.site&apos;s web site could include technical, typographical, or photographic errors. Knowledge-base.site does not warrant that any of the materials on its web site are accurate, complete, or current. Knowledge-base.site may make changes to the materials contained on its web site at any time without notice. Knowledge-base.site does not, however, make any commitment to update the materials.
			h3
				| 6. Links
			p
				| Knowledge-base.site has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Knowledge-base.site of the site. Use of any such linked web site is at the user&apos;s own risk.
			h3
				| 7. Site Terms of Use Modifications
			p
				| Knowledge-base.site may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
			p
				| General Terms and Conditions applicable to Use of a Web Site.
			h2
				| Privacy Policy
			p
				| Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
			ul
				li
					| Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
				| &#x9;
				li
					| We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
				| &#x9;
				li
					| We will only retain personal information as long as necessary for the fulfillment of those purposes.
				| &#x9;
				li
					| We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
				| &#x9;
				li
					| Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
				| &#x9;
				li
					| We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
				| &#x9;
				li
					| We will make readily available to customers information about our policies and practices relating to the management of personal information.
			p
				| We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
