@font-face {
  font-family: "Code Bold";
  src: url("../fonts/code/CODE-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Code Light";
  src: url("../fonts/code/CODE-Light.otf") format("opentype");
}
@font-face {
  font-family: "Droid Bold";
  src: url("../fonts/droid-serif/DroidSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Regular";
  src: url("../fonts/droid-serif/DroidSerif-Regular.ttf") format("truetype");
}
